{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<!-- Display Gamecrit post -->
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ gamecrit_post.post_name }}</h1>
                <p class="post-subtitle">{{ gamecrit_post.username }} | {{ gamecrit_post.created_on }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Shows video, plays video auto but on mute -->
<div class="container">
    <iframe class="w-100 w-lg-900" height="550"
        src="https://www.youtube.com/embed/{{ gamecrit_post.youtube_link|slice:'-11:' }}?autoplay=1&mute=1"
        frameborder="0" allowfullscreen>
        </iframe>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="blog-text">
                <p class="blog-card-text">
                    {{ gamecrit_post.post_field | safe }}
                </p>
            </div>
        </div>
    </div>
    <!--Delete and Edit button for Post-->
    {% if user.is_authenticated and gamecrit_post.username == request.user %}
    <span class="text-center">
        <a href="{% url 'edit_gamecrit_post' gamecrit_post.id %}" class="btn btn-outline-primary btn-lg" aria-label="edit button for posts if user is the author">Edit this post!</a>
    </span>
    <span class="text-center">
        <a href="{% url 'delete_gamecrit_post' gamecrit_post.id %}" class="btn btn-outline-danger btn-lg" aria-label="delete button for posts if user is the author">Delete this post!</a>
    </span>
    {% endif %}
    <!--Display Like button-->
    <div class="row">
        <div class="col-12">
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'add_like' gamecrit_post.slug %}" method="POST">
                {% csrf_token %}
                {% if gamecrit_post_blog_liked %}
                <button type="submit" name="gamecrit_like_id" value="{{gamecrit_post.slug}}" class="btn-like"
                    aria-label="unlike this post"><i class="fas fa-heart"></i></button>
                {% else %}
                <button type="submit" name="gamecrit_like_id" value="{{gamecrit_post.slug}}" class="btn-like"
                    aria-label="like this post"><i class="far fa-heart"></i></button>
                {% endif %}
            </form>
            {% else %}
            <span class="text-secondary">
                <i class="far fa-heart"></i></span>
            {% endif %}
            <span class="text-secondary">{{ gamecrit_post.number_of_gamecrit_post_blog_likes }}</span>
        </div>
    </div>
    <!-- Displaying count of comments -->
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary comment-number">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
    <!--Bookmark Post-->
    <div class="row">
        <div class="col-1">
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'bookmark_post' gamecrit_post.slug %}" method="POST">
                {% csrf_token %}
                {% if is_bookmarked  %}
                <button class="action-btn btn btn-info" type="submit" name="bookmark_id" value="{{gamecrit_post.slug}}"
                    aria-label="bookmark button to deselect gamecrit post from bookmarks">
                    <i class="fas fa-bookmark"></i></button>
                {% else %}
                <button class="action-btn btn btn-info" type="submit" name="bookmark_id" value="{{gamecrit_post.slug}}"
                    aria-label="bookmark button to save gamecrit post"><i class="far fa-bookmark"></i></button>
                {% endif %}
            </form>
            {% endif %}
        </div>
    </div>
    <!-- Displaying Comments -->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="comment-text">
                {% for comment in comments %}
                <div class="p-2 comments
          {% if not comment.approved and comment.username == user %}
          faded{% elif not comment.approved %} d-none{% endif %}">
                    <p>
                        {{ comment.username }}
                        <span>
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <div class="comment-body" id="comment{{ comment.id }}">
                        {{ comment.comment_field | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.username == user %}
                    <p class="approval">
                        This comment is awaiting approval
                    </p>
                    {% endif %}
                    <!-- Delete and Edit button for comment author -->
                    {% if user.is_authenticated and comment.username == request.user %}
                    <button class="btn btn-edit btn-outline-primary" comment_id="{{ comment.id }}" aria-label="edit button for comments if user is the author">Edit</button>
                    <button class="btn btn-delete btn-outline-danger" comment_id="{{ comment.id }}" aria-label="delete button for comments if user is the author">Delete</button>                    
                    {% endif %}
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Creating New Comments -->
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="submit-btn-comment btn-lg" aria-label="submit new comment button">Submit</button>
                </form>
                {% else %}
                <p><a class="link" href="{{ login_url }}" aria-label="link for users who are not logged in">Log in</a> to leave a comment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                <a id="deleteConfirm" href="#" class="btn
                btn-outline-danger" aria-label="Delete">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}