{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
<!--Create GameCrit Form-->
<div class="container">
    <div class="h1-styling">
        <h1 class="h1-styling-text">Write test your own review here!</h1>
    </div>
    <br>
    <div class="row justify-content-center ">
        {% if user.is_authenticated %}
        <div class="col-11 col-md-8 col-lg-6 mt-3">
            <form method="post" enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn submit-btn-comment">Upload</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{%endblock%}