body, .navbar-light, .footer {
    background-color: #c2b329;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
}

.red-crit {
    color: rgb(145, 12, 7);
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.card-title {
    max-height: 38px;
}

#image-size-1, #image-size-2 {
    max-height: 270px;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #c2b329;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    max-height: 160px;
    width: 100%;
}

.masthead-text {
    background-color: #c2b329;
    color: white;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.masthead-text h1 {
    margin-top: unset;
}

.blog-text {
    background-color: lightgrey;
}

.blog-card-text {
    font-size: 1.05rem;
    padding-left: 5px;
    padding-right: 5px;
}

/* Comments */
.comment-number {
    padding-left: 5px;
}

.comment-text {
    background-color: lightgrey;
}

.comment-body {
    font-size: larger;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: white;
}

.btn-signup {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

#hide-text {
    display: none;
}
/* styling for gamecrit banner */

#gamecrit-explanation {
    display: flex;
    width: 100%;
    max-width: 1250px;
    height: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 160px;
    justify-content: space-between;
    background: url(../images/banner.webp) no-repeat center center/cover;
    flex-direction: column;
}

/*
#all-about-gamecrit {

}
*/

#all-about-header {
    display: flex;
    align-items: center;
    width: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
    flex-direction: column;
    color: #d3d3d3;
    margin-top: 70px;
    background-color: rgba(0,0,0,0.7)
}

/*#buttons-all-about-gamecrit, #all-about-header {
    background-color: rgba(0,0,0,0.5);
}*/
#all-about-header p {
    width: 100%;
}

#buttons-all-about-gamecrit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    gap: 10px;
    flex-direction: row;
}

#buttons-all-about-gamecrit .btn, .submit-btn-comment {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    background-color: #2cff05;
}

/* media query for tablets and larger screens */
@media screen and (min-width: 768px){
    #buttons-all-about-gamecrit .btn, .submit-btn-comment{
        margin-right: 40px;
        height:45px;
        width: 200px;
    }

    #gamecrit-explanation {
        width: 80%;
        height: 590px;
        margin-bottom: 20px;
        flex-direction: unset;
    }

    #all-about-header {
        margin-top: 20%;
        width: 80%;
        align-items: left;
        text-align: left;
        padding-bottom: 20px;
        padding-top: 15px;
        padding-left: 20px;
    }

    #all-about-header p {
        width: 80%;
        align-self: flex-start;
        padding-left: 20px;
    }

    #buttons-all-about-gamecrit {
        justify-content: center;
        flex-direction: column;
        padding-top: unset;
    }

}


/* Large devices (laptops and desktops, 992px and more)*/
@media screen and (min-width: 992px){
    #navbarText {
        display: flex;
        justify-content: flex-end;
    }

    #hide-text {
        display: unset;
    }
}


